body {
	padding: 0;
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	background: #f2f2f2;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	min-width: 768px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.main-header {
	position: relative;

	background-color: #ffffff;
}

.main-navigation {
	position: inherit;
	max-width: 1055px;
	margin: 0 auto;
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 3;
}

.main-menu {
	margin: 0;
	padding: 0;
	min-height: 55px;

	display: flex;
	align-items: center;
	list-style: none;
}

.main-menu a {
	font-weight: bold;
	color: #000000;
}

.main-menu a:focus,
.main-menu a:hover {
	color: #81b3d2;
}

.main-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}

.menu-info {
	width: 240px;
}

.menu-foto {
	width: 288px;
}

.menu-map {
	width: 283px;
	text-align: right;
}

.menu-hotel {
	width: 244px;
	text-align: right;
}

.promo {
	position: relative;
	min-height: 510px;
	text-align: center;

	background: url("../img/background-photo.jpg") no-repeat 10% 21%;
}

.promo::after {
	content: "";
	position: absolute;
	display: block;
	min-height: 57px;
	width: 100%;
	
	background-image: url("../img/background-shape.svg");
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
}

.promo-images {
	margin-top: 75px;
}

.wrapper-one,
.wrapper-two {
	text-align: center;

	background-color: #ffffff;
}

.cause-tagline {
	font-size: 21px;
	font-weight: bold;
}

.cause-text {
	color: #333333;
}

.block-first-cause,
.block-second-cause {
	background-color: #81b3d2;
	color: #ffffff;
}

.cause-name,
.recommend-name {
	font-size: 21px;
	line-height: 21px;
}

.cause-number,
.cause-desc,
.recommend-desc {
	line-height: 21px;
	color: #333333;
}

.block-other-cause {
	list-style: none;

	background-color: #eeeeee;
}

.block-other-cause li,
.block-recommend li {
	text-align: center;
}

.block-recommend{
	list-style: none;
}

.interest {
	font-size: 30px;
	line-height: 36px;
}
.offer {
	background-color: #ffffff;
}

.offer-info {
	line-height: 24px;
	color: #333333;
}

.search-hotels{
	text-align: center;
}

.search-button {
	width: 570px;
	height: 85px;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
}

.search-button:focus,
.search-button:hover {
	background-color: #604e43;
	outline: none;
}

.search-button:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.appointment-form {
	font-weight: bold;
}

.appointment-item input{
	font: inherit;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none;
}

.appointment-item input:hover{
	background-color: #ebebeb;
	border: none;
}

.appointment-item input:focus{
	background-color: transparent;
	border: 2px solid #e5e5e5;
	outline: none;
}

.appointment-item button {
	font: inherit;
	color: #a9a9a9;

	background-color: #f2f2f2;
	border: none;
}

.appointment-item button:focus,
.appointment-item button:hover{
	color: #000000;
	outline: none;
}

.appointment-item button:active{
	color: #81b3d2;
}

.search-inner-button {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 195px;
	padding-right: 195px;

	font-size: 21px;
	color: #ffffff;
	background-color: #81b3d2; 
}

.search-inner-button:focus,
.search-inner-button:hover{
	background-color: #669ec0;
	outline: none;
}

.search-inner-button:active{
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.footer {
	background-color: #ffffff;
}

.footer-visit {
	font-size: 21px;
	color: #000000;
}

.footer-social {
	list-style: none;
}

.social-button {
	color: #000000;
	font-weight: bold;
}

.copyright-web {
	font-weight: lighter;
	color: #000000;
}

.logo-htmlacademy:focus path,
.logo-htmlacademy:hover path {
	fill: #81b3d2;
}

.logo-htmlacademy:active path {
	fill: #bdbbbc;
}

/* Страница каталога*/

.user {
	background-image: url("../img/background-hotel.jpg");
	background-position: center;
	background-color: #000000;

	color: #ffffff;
}

legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	letter-spacing: 0.2px
	color: #ffffff; 
}

fieldset {
	border: none;
}

.user label {
	font: inherit;
}

.user-item {
	list-style: none;
}

.breadcrumbs-current {
	font-weight: bold;
	color: #766357;
}
/* Поле ввода */

.entry-field {
	width: 314px;
	height: 32px;
	border: 2px solid #ffffff;
	border-radius: 3px;
}

.entry-field input {
	font: inherit;
	color: #ffffff;
	width: 30px;
	height: 20px;
	background-color: transparent;
	border: none;
}

.entry-field input[name="from"] {
	border-right: 2px solid #ffffff;
}

.filter-button {
	width: 130px;
	height: 35px;

	font: inherit;
	letter-spacing: -0.9px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.quantity-found {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sorting-panel {
	background-color: #ffffff;
}
.sorting-menu {
	font-size: 12px;
	line-height: 18px;
	list-style: none;
}

.sorting-price a,
.sorting-type a,
.sorting-rating a {
	border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
	color: rgba(0, 0, 0, 0.3);
}

.sorting-price a:focus,
.sorting-type a:focus,
.sorting-rating a:focus,
.sorting-price a:hover,
.sorting-type a:hover,
.sorting-rating a:hover {
	border-bottom: 1px dashed #81b3d2;
	color: #81b3d2;
}

.sorting-price a:active {
	border: none;
}

.sorting-type a:active,
.sorting-rating a:active {
	border: none;
	color: #000000;
}
/*Сортировка направление */
.smal-to-big {
	background: url("../img/icon-up-dir.svg") no-repeat;
}

.big-to-smal {
	background: url("../img/icon-down-dir.svg") no-repeat;
}

.hotel {
	list-style: none;
}

.hotel-name {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.hotel-name:focus,
.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-info {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	background-color: #81b3d2;
}

.hotel-info:focus,
.hotel-info:hover {
	background-color: #669ec0;
}

.hotel-info:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}


.booking {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	background-color: #766357;
}

.booking:focus,
.booking:hover {
	background-color: #604e43;
}

.booking:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

