*,::after,::before { 
	-webkit-box-sizing: inherit; 
	box-sizing: inherit;
} 

html { 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

body {
	padding: 0;
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	background: #f2f2f2;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;

	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3)
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.main-header {
	min-height: 56px;
	background-color: #ffffff;
}

.main-navigation {
	position: relative;
	margin: 0 auto;
} 

.main-logo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	width: 138px;
    height: 70px;
    margin: auto;
	z-index: 100;
}

.main-menu {
	display: flex;
	flex-wrap: wrap;

	list-style: none;
	margin: 0;
    padding: 0 6%;
}

.main-menu a {
	font-weight: bold;
	color: #000000;
}

.main-menu a:focus,
.main-menu a:hover {
	color: #81b3d2;
}

.main-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-menu li {
	width: 20%;
	padding: 15px 0;
}

.main-menu li:first-child {
    margin-right: 3%;
    text-align: left;
}

.main-menu li:nth-child(2) {
	margin-right: 7%;
	text-align: left;
}

.main-menu li:nth-child(3) {
	margin-left: 7%;
	text-align: right;
}

.main-menu li:last-child {
	margin-left: 3%;
	text-align: right;
}

.promo {
	position: relative;
	min-height: 508px;
	text-align: center;
	z-index: 2;

	background-image: url("../img/background-photo.jpg");
	background-repeat: no-repeat;
	background-position:  10% 21%;
	background-size: cover;
	background-color: #6e8595;
}

.promo::after {
	content: "";
	position: absolute;
	display: block;
	min-height: 57px;
	width: 100%;

	background-image: url("../img/shape.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

.promo-images {
	margin-top: 76px;
	margin-bottom: 15px;
}

.wrapper-one,
.wrapper-two {
	text-align: center;
	background-color: #ffffff;
}

.wrapper-one {
	min-height: 216px
}

.wrapper-one p {
	margin: 0;
}

.cause {
	z-index: 2;
}

.cause-tagline {
	display: block;
	width: 440px;
    padding-top: 60px;
    margin: auto;

    font-size: 21px;
    font-weight: bold;
}

.cause-text {
	padding-top: 27px;
	color: #333333;
}

.block-cause {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;
	list-style: none;
}

.block-first-cause,
.block-second-cause {
	display: flex;
	width: 100%;
	color: #ffffff;
}

.block-first-cause {
	order: 1;
}

.block-second-cause {
	order: 3;
}

.block-third-cause {
	order: 4;
	margin-bottom: 47px
}

.block-first-cause::after {
	content: "";
	position: relative;
    display: block;
    width: 66.7%;
    min-height: 256px;

    background-size: cover;
    background-position: 50% 54%;
    background-color: #9d6a4e;
    background-image: url("../img/firstcause.jpg");
}

.cause-wrapper {	
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 33.33%;
	margin: 0;
	background-color: #81b3d2;
}

.cause-name {
	width: 151px;
	margin-top: 47px;
	margin-bottom: 25px;
	text-align: center;
}

.cause-number {
	line-height: 21px;
	margin-bottom: 10px;
}
.cause-desc {
	display: block;
	width: 76%;
	margin-top: 8px;

	line-height: 21px;
    text-align: center;
}

.cause-name,
.recommend-name {
	font-size: 21px;
	line-height: 21px;
}

.recommend-desc {
	line-height: 21px;
	color: #333333;
}

.cause-number,
.cause-desc, {
	line-height: 21px;
	color: #ffffff;
}

.block-second-cause::before {
	content: "";
	position: relative;
    display: block;
    width: 66.7%;
    min-height: 256px;

    background-size: cover;
    background-position: 50% 54%;
    background-repeat: no-repeat;
    background-color: #9d6a4e;
    background-image: url("../img/second-cause.jpg");
}

.other-name {
	font-size: 21px;
    line-height: 21px;
    width: 130px;

    margin: 0 auto 25px;
}
.other-number {
    display: block;
    line-height: 21px;
    width: 70px;
    margin: 0 auto 19px;
}

.other-desc {
	width: 70%;
    margin: 0 auto;
    line-height: 21px;
    color: #333333;
}

.block-other-cause li,
.block-recommend li {
	text-align: center;
}

.block-recommend {
	order: 2;
}

.recommend {
	display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    
    margin: 0;
    padding: 0;
    list-style: none;
}

.recommend-name {
	margin-bottom: 25px;
}

.recommend-desc {
	width: 75%;
    margin: 0 auto;
}

.recommend li {
	width: 33.33%;
	padding: 55px 0 81px 0;
}

.recommend-first::before {
	content: "";
	position: relative;
	display: block;
	width: 75px;
	height: 72px;
	margin: 0 auto 30px auto;

	background-image: url("../img/icon-1.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

.recommend-second::before {
	content: "";
	position: relative;
	display: block;
	width: 74px;
	height: 70px;
	margin: 0 auto 31px auto;

	background-image: url("../img/icon-2.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

.recommend-third::before {
	content: "";
	position: relative;
	display: block;
	width: 64px;
	height: 76px;
	margin: 0 auto 30px auto;

	background-image: url("../img/icon-3.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

.block-third-cause {
	display: flex;
	flex-wrap: wrap;
}

.block-third-cause div {
    text-align: center;
    padding-top: 47px;
    min-height: 209px;
    width: 33.3%;
}

.interest {
	font-size: 30px;
	line-height: 36px;
}

.offer {
	position: relative;
	padding-top: 50px;
    text-align: center;
	background-color: #ffffff;
	z-index: 2;
}

.offer-info {
	width: 500px;
	margin: 23px auto 0;
	line-height: 24px;
	color: #333333;
}

.search-hotels{
	text-align: center;
}

.search-button {
    display: block;
    width: 568px;
    height: 86px;
    margin: 47px auto 0;
    padding: 0;

    background-color: #766357;
    border: none;
    color: #ffffff;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    cursor: pointer;
}

.search-button:focus {

}

.search-button:hover {
	background-color: #604e43;
}

.search-button:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

@keyframes bounce {
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.appointment-form {

}

.appointment-form {
	display: none;

	position: absolute;

    top: 291px;
    left: 0;
    right: 0;

    width: 568px;
    height: 395px;
    margin: 0 auto;
	padding: 55px;

    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);

    transform: scaleY(0);
	transform-origin: center top;
	opacity: 0;
}

.form-open {
	display: block;
	animation: bounce 0.8s;
}

.arrival {
	margin-top: 0;
	margin-bottom: 29px;
}

.arrival label {
	width: 101px;
    height: 38px;

    margin-right: 10px;
    padding-top: 6px;
}

.arrival input {
    width: 346px;
    height: 38px;

    padding-left: 12px;
    padding-right: 35px;
}

.arrival .button-calendar,
.departure .button-calendar {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 477px;
	fill: #a9a9a9;
	background-color: transparent;
	cursor: pointer;
}

.arrival .button-calendar {
	top: 62px;
}

 .departure .button-calendar {
	top: 129px;
}

.button-calendar:focus,
.button-calendar:hover {
	fill: #000000;
}

.button-calendar:active {
	fill: #81b3d2;
}


.departure {
	margin-top: 0;
	margin-bottom: 15px;
}

.departure label {
    width: 100px;
    padding-top: 6px;
    margin-right: 11px;
}

.departure input {
	width: 345px;
    height: 38px;
    padding-left: 12px;
    padding-right: 35px;
}

.button-menus {
	position: relative;
	cursor: pointer;
}

.button-plus {
	position: relative;
	cursor: pointer;
}

.button-menus:focus::after,
.button-menus:hover::after {
	background-color: #000000;
}

.button-menus:active::after {
	background-color: #81b3d2;
}

.button-plus:focus::after,
.button-plus:focus::before,
.button-plus:hover::after,
.button-plus:hover::before {
	background-color: #000000;
}

.button-plus:active:after,
.button-plus:active:before {
	background-color: #81b3d2;
}

.button-menus::after {
	content: "";
    position: absolute;
    height: 3px;
    width: 10px;
    top: 19px;
    right: 11px;

    background-color: #a9a9a9;
}

.button-plus::after {
	content: "";
    position: absolute;
    height: 11px;
    width: 3px;
    top: 15px;
    right: 18px;

    background-color: #a9a9a9;
}

.button-plus::before {
	content: "";
    position: absolute;
    height: 3px;
    width: 11px;
    top: 19px;
    right: 14px;

    background-color: #a9a9a9;
}

.adults {
	margin-right: 53px;
}

.adults label {
	margin-top: 7px;
	margin-right: 40px;
}

.adults button {
	height: 39px;
	width: 35px;
}

.adults input {
    width: 44px;
    height: 39px;
    text-align: center;
    padding: 0
}


.children {
	display: flex;
}

.children label {
	margin-top: 7px;
	margin-right: 27px
}

.children button {
	height: 39px;
	width: 35px;
}

.children input {
	width: 44px;
    height: 39px;
    text-align: center;
    padding: 0;
}

.number-people {
	display: flex;
	margin-bottom: 40px;
}

.appointment-item {
	display: flex;
	text-align: left;
}

.appointment-item input{
	height: 38px;
	font: inherit;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none;
	outline: none;
}

.appointment-item input:hover{
	background-color: #ebebeb;
}

.arrival input:focus,
.departure input:focus {
	background-color: transparent;
	border: 2px solid #e5e5e5;
	padding-left: 10px;
}

.adults input:focus,
.children input:focus {
	background-color: transparent;
	border: 2px solid #e5e5e5;
}

.appointment-item input::-webkit-input-placeholder {
	color:#000;
}

.appointment-item input:-moz-placeholder { 
	color:#000;
}

.appointment-item input:-ms-input-placeholder {
	color:#000;
}

.appointment-item button {
	font: inherit;
	color: #a9a9a9;

	background-color: #f2f2f2;
	border: none;
}

.appointment-item button:focus,
.appointment-item button:hover{
	color: #000000;
	outline: none;
}

.appointment-item button:active{
	color: #81b3d2;
}

.search-inner-button {
    width: 457px;
    height: 58px;
    padding-top: 15px;
    padding-bottom: 17px;
    
    line-height: 26px;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;


    color: #ffffff;
    border: none;
    background-color: #81b3d2;
}

.search-inner-button:focus {
	outline: 2px solid #5496bd;
}

.search-inner-button:hover{
	background-color: #669ec0;
}

.search-inner-button:active{
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

/* Карта */

.map {
	height: 593px;
    width: 100%;
    background-color: #ccdaaa;
    background-image: url(../img/map.jpg);
    background-size: auto;
    background-position: 50% 100%;
}

.footer {
	display: flex;
	position: relative;
	align-items: center;
    background-color: #ffffff;
    padding: 33px 0;
    margin-top:-120px;
}

.footer-inner-page {
	margin-top: 0;
}

.footer p,
.footer ul {
	margin: 0;
	padding: 0;
}

.hashtag {
	width: 33.33%;
	text-align: center;
}

.hashtag a {
	font-size: 21px;
	color: #000000;
}

.footer-social {
	display: flex;
	justify-content: center;
	width: 33.33%;
	list-style: none;
}

.footer-social a {
	display: flex;
  	align-items: center;
  	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	text-align: center;
	cursor: pointer;
}

.social-button {
	position: relative;
}

.social-button::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} 

.social-button-tw::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 17px 15px;
}

.social-button-fb::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url("../img/fb-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 12px 22px;
}

.social-button-youtube::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url("../img/youtube.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 16px;
}

.social-button:focus {
	outline: 2px solid #669ec0;
}


.social-button:hover {
	background-color: #669ec0;
}

.social-button:active::before {
	opacity: 0.3;
	outline: none;
}

.footer-copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.33%
}

.footer-social li {
	margin-right: 6px;
}

.footer-social li:nth-child(3) {
	margin-right: 0;
}

.copyright-web {
    color: #000000;
    margin-right: 10px;
}

.logo-htmlacademy:focus path,
.logo-htmlacademy:hover path {
	fill: #81b3d2;
}

.logo-htmlacademy:active path {
	fill: #bdbbbc;
}

.main-menu .active-page,
.main-menu .active-page:focus,
.main-menu .active-page:hover {
	color: #766357;
}

.user-form {
	display: flex;

	padding-left: 72px;
    padding-right: 72px;
    padding-top: 27px;
    padding-bottom: 17px;
    color: #ffffff;

    background-image: url(../img/background-hotel.jpg);
    background-size: cover;
    background-color: #6e8595;
    background-position: center;
}

.user-form legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 600;
	color: #ffffff; 
}

.user-form fieldset {
	border: none;
    padding: 0;
}

.infrastructure {
	padding: 0;
    margin: 0;
    margin-right: 15px;
    width: 240px;
}

.type-accommodation {
	padding: 0;
    margin: 0;
    margin-right: 30px;
    width: 240px;
}

.user-item {
    margin-top: 22px;
}

.form-checkbox + label::before {
	content: "";
    position: absolute;
    width: 27px;
    height: 26px;
    top: 0;
    left: -40px;
    background-image: url(../img/checkbox-off.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
}

.form-checkbox:checked + label::before {
	background-image: url("../img/checkbox-on.svg");
}

.form-checkbox:disabled + label::before {
	background-image: url("../img/checkbox-off-disabled.svg");
}

.form-checkbox:checked:disabled + label::before {
	background-image: url("../img/checkbox-on-disabled.svg");
}

.form-checkbox:focus + label::before {
	outline: 2px solid #669ec0;
}

.price-controls input:focus {
	outline: 2px solid #669ec0;
}


.filter {
	position: relative;
	line-height: 21px;
	margin-top: 25px;
}

.filter-range {
  	width: 318px;
  	color: #ffffff;
  	text-transform: uppercase;
  	margin-left: auto;
}

.filter-range-title {
  	margin-bottom: 10px;

  	font-weight: 600;
  	font-size: 16px;
  	line-height: 21px;
}

.price-controls {
	position: relative;
  	height: 36px;
  	margin-bottom: 20px;

	font-size: 0;

  	border: 2px solid #ffffff;
  	border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;


  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  	display: inline-block;

  	font-size: 14px;
  	line-height: 21px;
  	vertical-align: top;

  	cursor: pointer;
}

.user-item {
	list-style: none;
}

.breadcrumbs-current {
	font-weight: bold;
	color: #766357;
}

.price-controls .min-price,
.price-controls .max-price {
  	width: 147px;
  	padding-left: 65px;
  	padding-top: 5px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
	position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
	left: 10px;
    background-color: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 0 1px rgba(171,171,171, 0.3);
    cursor: pointer;
    margin-top: -10px;
    margin-left: -10px;
}

.range-toggle-max {
	left: 83%;
}

.range-toggle:hover {
	width: 22px;
	height: 22px;
	border: 9px solid #fff;
	margin-top: -11px;
    margin-left: -11px;
}

.btn-transparent {
  display: block;
  margin-left: 85px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sorting-panel {
	display: flex;
	padding-left: 72px;
	padding-right: 72px;
	background-color: #ffffff;
}

.quantity-found {
	display: block;
    width: 130px;
    margin-top: 31px;
    margin-bottom: 30px;
    margin-right: 34px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting-menu {
	display: flex;
    width: 800px;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    margin-top: 37px;

   	padding: 0;
}

.sorting-menu li {
	margin-right: 35px;
}

.sorting-menu a {
	border-bottom: 1px dotted #81b3d2;
	color: rgba(0, 0, 0, 0.3);
}

.sorting-menu a:focus,
.sorting-menu a:hover {
	border: none;
	color: #81b3d2;
}

.sorting-menu a:active {
	border: none;
	color: #000000;
}

.sorting-menu a:not([href]) {
	color: #81b3d2;
	border-bottom: none;
	cursor: pointer;
}

.ascending {
	margin-right: 8px;
	cursor: pointer;
}

.descendingly {
	cursor: pointer;
}

.regularity {
    margin-top: 31px;
    margin-left: 57px;
}

.active-descendingly path {
	fill: #81b3d2;
}

.ascending path {
	fill: #cacaca;
}

.regularity-tab:focus path {
	outline: 2px solid #81b3d2;
}

.regularity-tab:hover path {
	fill: #231f20;
}

.regularity-tab:active path {
	fill: #81b3d2;
	outline: none;
}

.hotel {
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #ffffff;
}

.hotel li {
	padding-top: 25px;
    padding-left: 72px;
    padding-bottom: 17px;
    border-top: 1px solid #e5e5e5;
}

.hotel li:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.hotel-foto {
	margin-top: 4px;
}

.hotel-item {
	display: flex;
}

.hotel-description {
	width: 750px;
	margin-left: 30px;
}

.hotel-description h3 {
	margin: 0;
}

.hotel-name {
	font-size: 21px;
	color: #000000;
	cursor: pointer;
}

.wrapper-description {
	display: flex;
    flex-direction: row;
    padding-top: 7px;
}

.wrapper-description-one {
    margin-right: 6px;
}

.hotel-name:focus {
	outline: 2px solid #81b3d2;
}

.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.hotel-info {
	display: block;
    width: 110px;
    height: 27px;
    padding-top: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
}

.hotel-info:focus,
.hotel-info:hover {
	background-color: #669ec0;
}

.hotel-info:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.booking {
	display: block;
    width: 142px;
    height: 27px;
    padding-top: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
}

.booking:focus,
.booking:hover {
	background-color: #604e43;
}

.booking:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.hotel-type,
.hotel-price {
	display: block;
	line-height: 21px;
	margin-bottom: 12px;
	color: #333333;
}

.rating-description {
	margin-left: 30px;
}

.stars-rating {
	height: 20px;
    margin-left: auto;
    margin-top: 3px;
    margin-bottom: 44px;
    text-align: right;
    background-image: url(../img/star.svg);
    background-repeat: space no-repeat;
	background-image: url("../img/star.svg");
}

.four-stars {
	width: 89px;
}

.popular-rating {
	width: 110px;
	height: 27px;
	line-height: 21px;
	padding: 3px 8px;
	text-align: center;
	color: #666666;
	background-color: #f2f2f2;
}

.three-stars {
	width: 64px;
}

.two-stars {
	width: 40px;
}